<html>
<head>

	<link rel=stylesheet href="Styles.css" type="text/css">
	<title>World of Warcraft Help</title>
</head>
<body  bgcolor=000000>


	<div class="topicText">
		<a name="Head" class="large_header_blue">
			Welcome to the World of Warcraft!
		</a>		
		<p>Please click on the links to the left to navigate through the Readme.  
		<p>If you are using Windows XP Service Pack 2 for your operating system, please select "Allow Blocked Content…"  if the Information Bar appears at the top of the page.  This will allow you to freely navigate through the Readme, 

Troubleshooting and Contact Information sections.
        <p>By selecting the "allow blocked content" option, you are only allowing the Readme script, which contains solely Blizzard content, to run for this particular session. Doing so for this Readme will not make you vulnerable to spam or any other undesirable content.
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
			<i class="oblique_white">This document is best viewed at 1024 x 768 resolution or larger.</i>
			<p class="small_white">For news and updates visit <a href="http://www.blizzard.com/" style="color:#dfdfdf;" border="0" target="_blank">http://www.blizzard.com</a>.</p>
			<i class="small_white"></i>
	</div>

</body>
</html>