<html>
<head>

	<link rel=stylesheet href="Styles.css" type="text/css">
	<title>Ayuda de World of Warcraft</title>
</head>
<body  bgcolor=000000>


	<div class="topicText">
		<a name="Head" class="large_header_blue">
			¡Bienvenido a World of Warcraft!
		</a>		
		<p>Haz clic en los vínculos de la izquierda para navegar por el archivo Léeme (Readme).  
		<p>Si usas Windows XP Service Pack 2 como sistema operativo, elige "Permitir contenido bloqueado…"  si la barra de información aparece en la parte superior de la página. Así podrás navegar con libertad a través del documento, 

Secciones de solución de problemas e información de contacto.
        <p>Al seleccionar la opción "permitir contenido bloqueado", solo estás permitiendo que el script del archivo Readme, que solo tiene contenido de Blizzard, se ejecute durante esta sesión. Aceptar el contenido de este archivo no te hará vulnerable al spam ni a ningún otro contenido no deseado.
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
			<i class="oblique_white">Este documento se ve mejor con una resolución de 1024 x 768 o superior.</i>
			<p class="small_white">Para ver noticias y actualizaciones, visita <a href="http://www.blizzard.com" style="color:#dfdfdf;" border="0" target="_blank">http://blizzard.com</a>.</p>
			<i class="small_white"></i>
	</div>

</body>
</html>