<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

	<link rel=stylesheet href="Styles.css" type="text/css">
	<title>월드 오브 워크래프트 온라인 도움말</title>
</head>
<body  bgcolor=000000>


	<div class="topicText">
		<a name="Head" class="large_header_blue"><br>
			월드 오브 워크래프트에 오신 것을 환영합니다. 
		</a>		
		<p class="normal">이 온라인 도움말은 "도움말", "문제해결", "연락처"의 3 부분으로 나뉘어져 월드 오브 워크래프트의 설치 및 실행에 관련된 전반적인 내용을 안내하여 드립니다. 각 도움말을 살펴보시려면 왼쪽에 있는 목차를 클릭하여 주십시오. 
		<p class="normal">참고: "도움말", "문제해결", "연락처" 버튼이 정상적으로 작동하지 않는다면 Windows XP 서비스팩 2의 컨텐츠 차단 기능으로 인한 것일 수 있습니다. "컨텐츠 차단 허용"을 선택하시면 정상적으로 도움말을 참조하실 수 있습니다. 
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
				<div align="center"><p class="normal">새소식이나 제품 소식은 아래 홈페이지를 방문하시기 바랍니다.<br>
		<a href="http://www.blizzard.co.kr/" style="color:#dfdfdf;" border="0" target="_blank">http://www.blizzard.co.kr</a></p>
		<p class="small_white"></i></div>
	</div>

</body>
</html>