body{

	scrollbar-3dlight-color:#39332E; 
	scrollbar-arrow-color:#000000;
	scrollbar-base-color:#ffffff;
	scrollbar-darkshadow-color:#000000;
	scrollbar-face-color:#39332E;
	scrollbar-highlight-color:#615D5C;
	scrollbar-shadow-color:#000000;

background-color:black;

font-size:9pt;
line-height: 145%

padding-top: 10px;
padding-left: 10px;
padding-right: 10px;

}





.topic{
color:#ffdd33;
font-family:±¼¸²; Gulim; Verdana; 
font-size:8pt;
position:relative;
left:5px;

cursor:hand;
}

.topic_red{
color:#cc0000;
font-family:±¼¸²; Gulim; Verdana; 
font-size:8pt;
position:relative;
left:5px;

cursor:hand;
}

a.menubox_header_white:link{
color:#dddddd;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}
a.menubox_header_white:visited{
color:#dddddd;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}
a.menubox_header_white:active{
color:#aaaaaa;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}

a.menubox_header_white:hover{
color:#aaaaaa;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}

.menubox_header_white2{
color:#dddddd;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}

.menubox_header_blue{
color:#559fdd;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}

.menubox_header_yellow{
color:#ccaa00;
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:bold;
}

.topicText{
color:#dddddd;
font-family:±¼¸²; Gulim; Verdana; 
font-sixe:9pt;

}

.small{
font-family:±¼¸²; Gulim; Verdana; 
font-size:8pt;
}

.small_white{
font-family:±¼¸²; Gulim; Verdana; 
font-size:8pt;
color:#dddddd;
margin-left:5%;
margin-right:5%;
}

.small_blue{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:8pt;
}

.small_yellow{
font-family:±¼¸²; Gulim; Verdana; 
color:#ccaa00;
font-size:8pt;
}

.normal{
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
color:#dddddd;
line-height: 145%
}

.normal_red{
font-family:±¼¸²; Gulim; Verdana; 
color:#cc0000;
font-size:9pt;
}

.normal_white{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
line-height: 145%
}

.normal_white_bold{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
font-weight:bold;
}

.normal_white_margined{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
margin-left:5%;
margin-right:5%;
}

.normal_white_margined_2{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
margin-left:10%;
margin-right:10%;
}

.normal_white_margined_3{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
margin-left:15%;
margin-right:15%;
}

.oblique_white{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
}

.oblique_bold_white{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
font-weight:bold;
}

.oblique_yellow{
font-family:±¼¸²; Gulim; Verdana; 
color:#ccaa00;
font-size:9pt;
}

.oblique_blue{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
}

.oblique_grey{
font-family:±¼¸²; Gulim; Verdana; 
color:#888888;
font-size:9pt;
}

.oblique_bold_red{
font-family:±¼¸²; Gulim; Verdana; 
color:#cc0000;
font-size:9pt;
font-weight:bold;
}

.oblique_white_margined{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
margin-left:5%;
margin-right:5%;
}

.oblique_grey_margined_3{
font-family:±¼¸²; Gulim; Verdana; 
color:#888888;
font-size:9pt;
margin-left:15%;
margin-right:15%;
}

.oblique_bold_white_margined{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
font-weight:bold;
margin-left:5%;
margin-right:5%;
}

.oblique_yellow_margined{
color:#ccaa00;
font-size:9pt;
margin-left:5%;
margin-right:5%;
}

.oblique_yellow_margined_2{
color:#ccaa00;
font-size:9pt;
margin-left:10%;
margin-right:10%;
}

.oblique_yellow_margined_3{
color:#ccaa00;
font-size:9pt;
margin-left:15%;
margin-right:15%;
}

.oblique_blue_margined{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
margin-left:5%;
margin-right:5%;
}

.oblique_blue_margined_2{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
margin-left:10%;
margin-right:10%;
}

.oblique_blue_margined_3{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
margin-left:15%;
margin-right:15%;
}

.oblique_blue_margined_centered{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
margin-left:10%;
margin-right:10%;
text-align:center;
}

.oblique_bold_blue{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
text-align:center;
}

.small_header_blue{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
font-weight:bold;
}

.small_blue{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
}

.small_header_yellow{
font-family:±¼¸²; Gulim; Verdana; 
color:#ccaa00;
font-size:9pt;
font-weight:bold;
}

.small_header_white{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
font-weight:bold;
}

.small_header_red{
font-family:±¼¸²; Gulim; Verdana; 
color:#cc0000;
font-size:9pt;
font-weight:bold;
}

.small_header_blue_centered{
font-family:±¼¸²; Gulim; Verdana; 
color:#559fdd;
font-size:9pt;
font-weight:bold;
text-align:center;
}

.small_header_white_centered{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:9pt;
font-weight:bold;
text-align:center;
}

.large_header_blue{
font-family:Verdana; °íµñ; ±¼¸²; Gulim;
color:#559fdd;
font-size:13pt;
font-weight:bold;
}

.large_header_yellow{
font-family:±¼¸²; Gulim; Verdana; 
color:#ccaa00;
font-size:13pt;
font-weight:bold;
}

.large_header_white{
font-family:±¼¸²; Gulim; Verdana; 
color:#dddddd;
font-size:13pt;
font-weight:bold;
}

.medium_header{
font-family:±¼¸²; Gulim; Verdana; 
font-size:12pt;
font-weight:bold;
}

ul{
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:normal;
list-style-position:outside;
}

ol{
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:normal;
list-style-position:outside;
}

li{
font-family:±¼¸²; Gulim; Verdana; 
font-size:9pt;
font-weight:normal;
list-style-position:outside;
}

.lower_roman{
font-family:±¼¸²; Gulim; Verdana; 
list-style-type:lower-roman;
list-style-position:outside;
}

.upper_alpha{
font-family:±¼¸²; Gulim; Verdana; 
list-style-type:upper-alpha;
list-style-position:outside;
}

#theMenu {
position:absolute;
left:0px;
}

div.pad{
    margin-bottom: 6px;
	line-height: 145%
}

