<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<script type="text/javascript" src="../Layout/TheScript.js"></script>
	<style>
		body {
			background-color:#000000; background-image:url(../Images/BRepeat.jpg); overflow:hidden;
		}
	</style>
	<title>Ayuda de World of Warcraft</title>
</head>
<body onload="loading()">
	<center>
		<img src="../Images/Nav/Nav_00.jpg" usemap="#navMap" border="0" />
	</center>
	<map id="navMap" name="navMap">
		<area	shape="poly"
				coords="98,15,203,15,203,24,188,38,98,38"
				href="javascript:platSwitchHandler('(Mac)', '(PC)')" 
				onmouseover="javascript:rollover(0, 1)"
				onmouseout="javascript:rollover(1, 1)"
				onclick="javascript:rollover(3, 1)"
		/>
		<area	shape="poly"
				coords="228,15,317,15,317,38,212,38,214,38"
				href="javascript:navHandler('../ReadMe/(Mac)ReadMeMenu.html')"
				onmouseover="javascript:rollover(0, 2)"
				onmouseout="javascript:rollover(1, 2)"
				onclick="javascript:rollover(2, 2)"
		/>
		<area	shape="poly"
				coords="326,15,431,15,431,38,326,38"
				href="javascript:navHandler('../Troubleshooting/(Mac)TroubleshootMenu.html')"
				onmouseover="javascript:rollover(0, 3)"
				onmouseout="javascript:rollover(1, 3)"
				onclick="javascript:rollover(2, 3)"
		/>
		<area	shape="poly"
				coords="440,15,529,15,546,31,546,38,440,38"
				href="javascript:navHandler('../Support/(Mac)SupportMenu.html')"
				onmouseover="javascript:rollover(0, 4)"
				onmouseout="javascript:rollover(1, 4)"
				onclick="javascript:rollover(2, 4)"
		/>
		<area	shape="poly"
				coords="554,15,660,15,660,38,570,38,561,33,554,21"
				href="javascript:navHandler('../WorldEdit/(Mac)WorldEditMenu.html')"
				onmouseover="javascript:rollover(0, 5)"
				onmouseout="javascript:rollover(1, 5)"
				onclick="javascript:rollover(2, 5)"
		/>
	</map>
</body>
</html>