<html><head>
<style>
body { background-image:url(../Images/bg-top.jpg);
			background-repeat:x;
			background-position:top center;
		}
#bgMerge {
			position:absolute;
			top:132px;
			left:297px;
		}
#webSiteBtn {
			position:relative;
			top:0px;
			left:45px;
		
	z-index: 1;
}
</style>
<title>World of Warcraft Help</title>
</head>
<body>
<table id="Logo" margin="0" border=0 cellpadding="0" cellspacing=0 width="100%">
  <tr>
<td rowspan=3 valign=top><a href="http://www.blizzard.com" target="_new"><img src="../Images/logo-blizzard.gif" border="0"></a></td>
<td valign=top colspan=5 align=center><img src=../Images/pixel.gif height=1 width=30><img src="../Images/logo-wow.gif" border="0"></td>
<td rowspan=3 valign=top><img src="../Images/logo-bnet.gif" border="0"></td>
</tr>
<tr>

<td valign=bottom><nobr><a href="javascript:changePC()"><img src=../Images/buttons/pc-over.jpg id=pc onmouseover="javascript:rollover(pc, 1)" onmouseout="javascript:rollover(pc, 0)" border=0></a><img src=../Images/pixel.gif height=1 width=5><a href="javascript:changeMac()"><img src=../Images/buttons/mac.jpg id=mac onmouseover="javascript:rollover(mac, 1)" onmouseout="javascript:rollover(mac, 0)" border=0></a><br><img src=../Images/pixel.gif height=2 width=1></nobr></td>


<td width=100% align=center valign=bottom><nobr><img src=../Images/pixel.gif height=1 width=30><a href="javascript:changePage('Readme', document.images[9])"><img src=../Images/buttons/readme-over.gif id=readme onmouseover="javascript:rollover(readme, 1)" onmouseout="javascript:rollover(readme, 0)" border=0></a><img src=../Images/pixel.gif height=1 width=30><a href="javascript:changePage('Troubleshooting', document.images[11])"><img src=../Images/buttons/troubleshooting.gif id=troubleshooting onmouseover="javascript:rollover(troubleshooting, 1)" onmouseout="javascript:rollover(troubleshooting, 0)" border=0></a><img src=../Images/pixel.gif height=1 width=30><a href="javascript:changePage('Support', document.images[13])"><img src=../Images/buttons/contactinfo.gif id=contactinfo onmouseover="javascript:rollover(contactinfo, 1)" onmouseout="javascript:rollover(contactinfo, 0)" border=0></a></nobr></td>
<td align=right valign=bottom><div id=webSiteBtn><a href=http://www.worldofwarcraft.com/na target=_new><img src=../Images/buttons/website.gif id=website onmouseover="javascript:rollover(website, 1)" onmouseout="javascript:rollover(website, 0)" border=0></div></td>
</tr>
<tr><td colspan=4><img src=../Images/pixel.gif height=6 width=600></td></tr>
</table>
<div id="bgMerge"><img src=../Images/bg-merge.jpg></div>
<script type="text/javascript" src="../Layout/TheScript.js"></script>
</body></html>